body{
    background-color:black
}
*{
    margin:0px;padding:0px
}
.masonry {
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari 和 Chrome */
    column-count:2;
    column-gap: 5px;
    width: 97%;
    margin: 0 auto;
    padding-top: 5px;

}
.item {
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}
.panel-default {
    width:30%;margin:0 auto;border-radius:5px
}
.search{
    padding:0px;
}
.search div{
    float:left;width:86.6%
}
.search button{
    float:left;margin-left:5px
}

.tags{
    background-color:#eee;
    margin-top:2px;
    padding:10px;
}
.tags ul {
    margin:0px
}
.tags ul li {
    cursor:pointer
}
.imgs{
    padding:0px;width:100%;height:550px;overflow-y:auto
}
.imgs .masonry .item{
    width:100%;
    height: 100px;
    background-size: 100% 100%;
    margin-bottom:5px;
}